
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Contribution</title>
</head>
<body>
    <h1>Добавьте ваши сбережения</h1>
    <p>Укажите сумму, которую вы хотите внести в свои накопления. Это поможет вам двигаться к вашей мечте быстрее!</p>
    <form method="POST">
        <label for="amount">Сумма:</label>
        <input type="number" step="0.01" name="amount" required>
        <button type="submit">Добавить внесение средств</button>
    </form>
    <a href="{{ url_for('home') }}">Вернуться на главную страницу</a>
</body>
</html>

